@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --celeste: rgba(214, 233, 255, 1);
  --azul-oscuro: rgb(19, 47, 61);
  --blanco: white;
  --azul-claro: rgb(5, 68, 97);
  --gris: rgb(218, 218, 218);
  --azul: rgb(121, 161, 213);
}

* {
  font-family: "Poppinms", sans-serif;
  margin: 0;
  padding: 0;
  scroll-padding-top: 1rem;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

p {
  font-family: "Barlow", sans-serif;
}

body {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

.container-login {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.box-box {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 40px 20px 30px 20px;
  height: 400px;
  width: 330px;
  background-color: rgba(248, 230, 230, 0.5);
  border-radius: 30px;
  box-shadow: 0px 0px 26px -13px rgba(0, 0, 0, 1);
  /* -webkit-backdrop-filter: blur(15px); */
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 3px rgba(255, 255, 255, 0.2);
  overflow: hidden;
}

.box-login {
  position: absolute;
  width: 85%;
  left: 27px;
  transition: 0.5s ease-in-out;
}

.top-header {
  text-align: center;
  margin: 30px 0;
}

.top-header h3 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 8px;
  color: white;
}

.span-login {
  color: var(--azul-claro);
}

.input-group {
  width: 100%;
}

.input-field {
  margin: 25px 0;
  position: relative;
}

.input-box {
  width: 100%;
  height: 50px;
  font-size: 15px;
  color: #040404;
  border: none;
  border-radius: 10px;
  padding: 7px 45px 0 20px;
  background: rgba(241, 240, 240, 0.749);
  backdrop-filter: blur(2px);
  outline: none;
}

.input-field label {
  position: absolute;
  left: 20px;
  top: 15px;
  font-size: 15px;
  transition: 0.3 ease-in-out;
}

.input-box:focus~label,
.input-box:valid~label {
  top: 2px;
  font-size: 10px;
  color: #c12828;
  font-weight: 500;
}

.eye-area {
  position: absolute;
  top: 25px;
  right: 25px;
}

.eye-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

i {
  position: absolute;
  color: #444444;
  cursor: pointer;
}

#eye,
#eye-2 {
  opacity: 1;
}

#eye-slash,
#eye-slash-2 {
  opacity: 0;
}

.input-submit {
  width: 100%;
  height: 50px;
  font-size: 15px;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  /* background: #bc6202; */
  background: var(--azul-oscuro);
  color: #fff;
  box-shadow: 0px 4px 20px rgba(62, 9, 9, 0.145);
  cursor: pointer;
  transition: 0.4s;
}

.input-submit:hover {
  background: var(--azul);
  box-shadow: 0px 4px 20px rgba(62, 9, 9, 0.32);
}