<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Control Car - Vehiculo</title>
  <!-- Favicon -->
  <link rel="icon" href="../assets/logos/car.png" type="image/x-icon" />
  <!-- Style-->
  <link rel="stylesheet" href="../styles/supervisor/auto-supervisor.css" />
  <link rel="stylesheet" href="../styles/supervisor/popup-carga-control.css" />
  <link rel="stylesheet" href="../styles/general/navbar.css" />
  <link rel="stylesheet" href="../styles/general/footer.css" />
  <link rel="stylesheet" href="../styles/general/pre-load.css" />
  <!-- Box Icons -->
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <title>autos</title>
</head>

<body class="hidden-carga" id="contenido">
  <!-- Pre-load -->
  <div class="centrado" id="preloader">
    <div class="lds-spinner">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <p class="text-carga">Cargando...</p>
  </div>

  <!-- Navbar-->
  <header>
    <div class="logo">
      <a href="./inicio-supervisor.html">
        <img class="navbar-logo" src="../assets/logos/logo.png" alt="">
        GP <span class="nav-span">Motors</span></a>
    </div>
    <div class="hamburger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <nav class="nav-bar">
      <ul>
        <div class="user-info-menu">
          <div class="user-info">
            <img src="../assets/logos/logo-user.png" alt="" class="user-pic" />
            <h3 class="nombre-perfil-sesion">Usuario</h3>
          </div>
        </div>
        <li class="inicio-nav navbar-padding">
          <a href="./inicio-supervisor.html">Inicio</a>
        </li>
        <li class="sesion-nav navbar-padding" id="logout">
          <a href="../index.html">Cerrar Sesión</a>
        </li>
        <li class="close-inicio padding-li"><a href="./inicio-supervisor.html" class="active">Inicio</a></li>
        <img src="../assets/logos/logo-user.png" alt="" class="close-user user-pic" onclick="toggleMenu()"
          id="logo-user" />
      </ul>
      <div class="sub-menu-wrap" id="subMenu">
        <div class="sub-menu">
          <div class="user-info">
            <img src="../assets/logos/logo-user.png" alt="" class="user-pic" />
            <h3 class="nombre-perfil-sesion">Usuario </h3>
          </div>
          <hr />
          <a href="../index.html" class="sub-menu-link">
            <img src="../assets/logos/logo-log-out.png" alt="logo log-out" class="user-pic-pic" />
            <p>Cerrar Sesión</p>
            <span>></span>
          </a>
        </div>
      </div>
    </nav>
  </header>

  <!-- Seccion Auto -->
  <section class="auto-info-card" id="home">
    <div class="box-img-auto">
      <img src="../assets/imagenes/corolla.png" />
    </div>
    <div class="auto-info-section">
      <h1 class="auto-info-text titulo">PATENTE</h1>
      <div class="auto-info-text-section">
        <h2 class="auto-info-text-subtitulo">Marca:</h2>
        <p class="auto-info-text" id="marca">Toyota</p>

      </div>
      <div class="auto-info-text-section">
        <h2 class="auto-info-text-subtitulo">Modelo:</h2>
        <p class="auto-info-text" id="modelo">Corolla</p>

      </div>
      <div class="auto-info-text-section">
        <h2 class="auto-info-text-subtitulo">Año:</h2>
        <p class="auto-info-text" id="anio">2024</p>

      </div>

      <div class="auto-info-text-section">
        <h2 class="auto-info-text-subtitulo">Kilometraje:</h2>
        <p class="auto-info-text" id="kilometraje">22Km</p>


      </div>
      <button id="save-btn" style="display: none">Guardar</button>
    </div>
  </section>


  <!-- Seccion Alertas -->
  <section class="section-alertas-titulo">
    <div class="alertas-titulo">
      <h3>Tus <span>Controles</span></h3>
    </div>
    <!-- Cards -->
    <div class="alertas-section">
      <div class="alertas-section-cards">
        <div class="alertas" id="alertas">
          <!-- Agregar Alerta -->
          <button class="button-agregar-alerta" id="show-car">
            <div class="centrar-div">
              <div class="agregar-alerta">
                <img src="../assets/logos/mas.png" alt="" class="user-pic-add" />
                <p>Agregar Alerta</p>
              </div>
            </div>
          </button>
          <!-- PopUp -->
          <div class="popup-container">
            <div class="popup">
              <div class="close-btn">&times;</div>
              <div class="form">
                <h2>Cargar Alerta</h2>
                <div class="form-element form_personal">
                  <label for="campo_rubro">Tipo de Alerta</label>
                  <select id="campo_rubro" name="DesplegableRubro">
                    <option value="" disabled selected>Seleccione</option>
                    <option value="aceite">Cambio de aceite</option>
                    <option value="neumatico">Revisión de neumático</option>
                    <option value="vtv">
                      Verificación Técnica Vehicular
                    </option>
                    <option value="servicio">Servicio Completo</option>
                    <option value="escape">Revisión caño de escape</option>
                    <option value="bateria">Revisión de batería</option>
                    <option value="enfriamiento">
                      Sistema de Enfriamiento
                    </option>
                    <option value="viaje">Viaje Programado</option>
                  </select>
                </div>
                <div id="viaje-programado-inputs" style="display: none;">
                  <div class="form-element">
                    <label for="nombreViaje">Nombre del Viaje</label>
                    <input type="text" id="nombreViaje" name="nombreViaje" required />
                    <div id="nombreViajeFeedback" class="invalid-feedback">El nombre solo puede contener letras.</div>
                  </div>
                  <div class="form-element">
                    <label for="kilometrosViaje">Kilómetros del Viaje</label>
                    <input type="number" id="kilometrosViaje" name="kilometrosViaje" min="200" max="1000" required />
                    <div id="kilometroViajeFeedback" class="invalid-feedback">Los kilometros van desde 200 a 1000km.
                    </div>
                  </div>
                </div>



                <div class="form-element form-div">
                  <button id="guardar-btn" class="btn-form">Guardar</button>
                  <button class="btn-form">Cancelar</button>
                </div>
              </div>
            </div>
          </div>
          <!-- Alerta 1-->
          <!-- <div class="alerta">
            <div class="box-avatar-text">
              <div class="avatar">
                <img src="../assets/logos/cambio_aceite.png" alt="perfil-imagen" />
              </div>
              <div class="box-text">
                <div class="text-patente">
                  <p>Aceite</p>
                </div>
                <div class="text-flex">
                  <p>Fecha de alerta:</p>
                  <p>26/6/2011</p>
                </div>
              </div>
            </div>
            <div class="box-img">
              <img src="../assets/logos/eliminar.png" alt="" class="user-pic-pic" />
            </div>
          </div> -->
          <!-- Alerta 2 -->
          <!-- <div class="alerta">
            <div class="box-avatar-text">
              <div class="avatar">
                <img src="../assets/logos/revision_neumaticos.png" alt="perfil-imagen" />
              </div>
              <div class="box-text">
                <div class="text-patente">
                  <p>Neumaticos</p>
                </div>
                <div class="text-flex">
                  <p>Fecha de alerta:</p>
                  <p>26/6/2011</p>
                </div>
              </div>
            </div>
            <div class="box-img">
              <img src="../assets/logos/eliminar.png" alt="" class="user-pic-pic" />
            </div>
          </div> -->
          <!-- Alerta 3-->
          <!-- <div class="alerta">
            <div class="box-avatar-text">
              <div class="avatar">
                <img src="../assets/logos/vtv.png" alt="perfil-imagen" />
              </div>
              <div class="box-text">
                <div class="text-patente">
                  <p>VTV</p>
                </div>
                <div class="text-flex">
                  <p>Fecha de alerta:</p>
                  <p>26/6/2011</p>
                </div>
              </div>
            </div>
            <div class="box-img">
              <img src="../assets/logos/eliminar.png" alt="" class="user-pic-pic" />
            </div>
          </div> -->
          <!-- Alerta 4-->
          <!-- <div class="alerta">
            <div class="box-avatar-text">
              <div class="avatar">
                <img src="../assets/logos/servicio_completo.png" alt="perfil-imagen" />
              </div>
              <div class="box-text">
                <div class="text-patente">
                  <p>Servicio Completo</p>
                </div>
                <div class="text-flex">
                  <p>Fecha de alerta:</p>
                  <p>26/6/2011</p>
                </div>
              </div>
            </div>
            <div class="box-img">
              <img src="../assets/logos/eliminar.png" alt="" class="user-pic-pic" />
            </div>
          </div> -->
          <!-- Alerta 5-->
          <!-- <div class="alerta">
            <div class="box-avatar-text">
              <div class="avatar">
                <img src="../assets/logos/revision_bateria.png" alt="perfil-imagen" />
              </div>
              <div class="box-text">
                <div class="text-patente">
                  <p>Bateria</p>
                </div>
                <div class="text-flex">
                  <p>Fecha de alerta:</p>
                  <p>26/6/2011</p>
                </div>
              </div>
            </div>
            <div class="box-img">
              <img src="../assets/logos/eliminar.png" alt="" class="user-pic-pic" />
            </div>
          </div> -->
          <!-- Alerta 6-->
          <!-- <div class="alerta">
            <div class="box-avatar-text">
              <div class="avatar">
                <img src="../assets/logos/revision_escape.png" alt="perfil-imagen" />
              </div>
              <div class="box-text">
                <div class="text-patente">
                  <p>Caño de Escape</p>
                </div>
                <div class="text-flex">
                  <p>Fecha de alerta:</p>
                  <p>26/6/2011</p>
                </div>
              </div>
            </div>
            <div class="box-img">
              <img src="../assets/logos/eliminar.png" alt="" class="user-pic-pic" />
            </div>
          </div> -->
          <!-- Alerta 7-->
          <!-- <div class="alerta">
            <div class="box-avatar-text">
              <div class="avatar">
                <img src="../assets/logos/revision_refrig.png" alt="perfil-imagen" />
              </div>
              <div class="box-text">
                <div class="text-patente">
                  <p>Sistema de Enfriamiento</p>
                </div>
                <div class="text-flex">
                  <p>Fecha de alerta:</p>
                  <p>Fecha de alerta:</p>
                </div>
              </div>
            </div>
            <div class="box-img">
              <img src="../assets/logos/eliminar.png" alt="" class="user-pic-pic" />
            </div>
          </div> -->
          <!-- Alerta 8-->
          <!-- <div class="alerta">
            <div class="box-avatar-text">
              <div class="avatar">
                <img src="../assets/logos/viaje.png" alt="perfil-imagen" />
              </div>
              <div class="box-text">
                <div class="text-patente">
                  <p>Viaje Programado</p>
                </div>
                <div class="text-flex">
                  <p>Fecha de alerta:</p>
                  <p>26/6/2011</p>
                </div>
              </div>
            </div>
            <div class="box-img">
              <img src="../assets/logos/eliminar.png" alt="" class="user-pic-pic" />
            </div>
          </div> -->
          <!-- Alerta 9-->
          <!-- <div class="alerta">
            <div class="box-avatar-text">
              <div class="avatar">
                <img src="../assets/logos/revision_fluidos.png" alt="perfil-imagen" />
              </div>
              <div class="box-text">
                <div class="text-patente">
                  <p>Nivel de Fluidos</p>
                </div>
                <div class="text-flex">
                  <p>Fecha de alerta:</p>
                  <p>26/6/2011</p>
                </div>
              </div>
            </div>
            <div class="box-img">
              <img src="../assets/logos/eliminar.png" alt="" class="user-pic-pic" />
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <section class="footer">
    <div class="footer-logo">
      <img class="footer-img" src="../assets/logos/logo.png" alt="">
      <h2>Donde cada viaje comienza</h2>
    </div>
    <div class="footer-container container">
      <div class="footer-box">
        <a href="#" class="logo">GP<span>Motors</span></a>
        <div class="social">
          <a href="" class="footer-i"><i class="bx bxl-facebook"></i></a>
          <a href="" class="footer-i"><i class="bx bxl-twitter"></i></a>
          <a href="" class="footer-i"><i class="bx bxl-instagram"></i></a>
          <a href="" class="footer-i"><i class="bx bxl-youtube"></i></a>
        </div>
      </div>
    </div>
  </section>
  <!-- Copyright -->
  <div class="copytight">
    <p>&#169; Universidad Nacional General Sarmiento</p>
  </div>

  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="../scripts/general/navbar.js"></script>
  <script src="../scripts/supervisor/popup-carga-control.js"></script>
  <script src="../scripts/supervisor/auto-supervisor.js"></script>
  <script src="../scripts/general/pre-load.js"></script>

</body>

</html>